.agenda
    .ant-card
        margin auto 
        margin-top 1rem 
        margin-bottom 1rem 

        .club-info
            text-align center
            font-weight: bold
            font-size: 1.4rem
            margin-bottom: 1rem
        
        .mission-statement
            font-weight: bold
            text-align: center
            font-size: 15px

        .ant-row
            margin-bottom: 1.5rem

            .ant-list-item
                border-bottom: none

            .section
                &-start-time
                    line-height: 46px

                &-lead,
                &-title
                    font-weight bold

                &-lead 
                    float right

            .action
                &-role
                    font-weight bold

            .speech
                margin-bottom 1.5rem

                .speaker
                    font-weight bold

            .speech:last-child
                margin-bottom 0 
