.infinite-scroll-grid
    &__container
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
        justify-items: center
        align-items: center
        grid-gap: 1rem
        margin: 0 3rem

    &__item
        display: flex
        flex-direction: column

// TODO: change grid-gap at different breakpoints 
